@page {
  margin: 10px;
}

td,
th,
h1 {
  text-align: center;
  vertical-align: top;
}

h4 {
  margin: 8px;
  text-align: center;
}

table,
th,
td {
  border: 1px solid;
}

table {
  border-collapse: collapse;
  page-break-inside: avoid;
  width: 90%;
  margin: 10px;
}

tr {
  page-break-inside: avoid;
}

img.rule {
  width: 420px;
  height: auto;
}

img.mol {
  width: 180px;
  height: auto;
}

img.mol-source {
  width: 140px;
  height: auto;
}

img.spectra {
  width: 360px;
  height: auto;
}

a.inchi_key,
p.small {
  font-size: x-small;
}
